.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}
.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center;
}

//responsive
@media screen and (max-width: 920px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 414px) {
  .category-container {
    grid-template-columns: repeat(1, 1fr);
  }
}