body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18212a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* { // selects every matching element (all element in this case)
  box-sizing: border-box; // padding and borders won't add to an elements predetermined dimensions
}

.content {
  padding: 120px 0 100px;
  background-color: #fff;
}
.spring {
  margin: 0 40px;
}
.scroll {
  overflow-y: scroll;
}